<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
 <li>
<a href="/celebrities/create">create new celebrity</a> 
</li>
 <li>
<a href="/celebrities">celebrities </a>
 </li> 
 <li>
<a href="/movie/create">create new movie</a> 
</li>
 <li>
<a href="/movie">create new movie</a> 
</li>