<h2>Create a new post</h2>

<form action="/movie/create" method="POST">
  <label> Title:
    <input type="text" name="title" />
  </label>
  <br>

  <label> Genre:
    <textarea type="text" name="genre"> </textarea>
  </label>
  <br>
<label> Plot:
    <textarea type="text" name="plot"> </textarea>
  </label>
  <br>
  <label for="cast">Cast:</label>
  <select id="cast" name="cast" multiple>
    {{#each allCelebrities}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>


  <button type="submit"> Created movie </button>
</form>
